# Local Terraform directories
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.log

# Ignore sensitive files
terraform.tfvars
backend.tfvars

!terraform/azure/environments/*.tfvars
!terraform/gcp/environments/*.tfvars
!terraform/init_azure/terraform.tfvars
!terraform/init_gcp/terraform.tfvars

# SSH keys (if generated)
*.pem
*.pub

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
