bootstrap_project_id = "existing-bootstrap-project"
dev_project_id = "multicloud-k8s-failover-dev"
uat_project_id = "multicloud-k8s-failover-uat"
prod_project_id = "multicloud-k8s-failover-prod"
project_name = "Multi-Cloud K8s Failover"
organization_id = "123456789012"
folder_id = null
billing_account = "000000-000000-000000"
region = "us-central1"
service_account_id = "github-terraform"
github_repository = "your-org/multicloud-k8s-failover"
github_repository_owner = "your-org"
workload_identity_pool_id = "github"
workload_identity_provider_id = "github-repo"
tfc_organization = "AdmanCorp"
tfc_workspace_name = "admancorp-gcp-gke"
tfc_hostname = "app.terraform.io"
